@import url('https://fonts.googleapis.com/css?family=Montserrat|Sriracha&display=swap');

body{
    min-height:50vh;
    font-family:'Montserrat', sans-serif !important;
    padding-top:124px;
    overflow-x:hidden;
}
body,.fs{
    display:flex ;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.flex{
  display:flex ;
  justify-content: center;
  align-items: center;
}
.ls{
  font-size:1rem;
}
.banner{
  padding-top:123px;
  min-height:60vh;
  width:100vw;
  background-size: cover;
}
.ban1,.ban1>img{
  width:100%;
  height:100%;
}
.ban1>img{
  object-fit: cover;
}
.txt_center{
  text-align: center;
}
.center{
  top: 20%;
}
.navbar-brand{
  /*font-family: 'Sriracha', cursive;*/
  font-size:2rem;
  margin-right:7vw;
  padding-left:20px;
}
.my,.my:hover{
  background-color: #feca57;
  border-color: #feca57;
  color:white;
}
form,ul{
    max-width:500px;
}
form{
  margin-top:5vh;
}
ul{
  z-index:1;
}
header{
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  z-index:1111;
}
.auth{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  text-align: right;
}
.auth>a{
  border-radius: 0 !important;
}
.find{
  bottom:20px;
}
nav{
  padding: 10px 40px 10px 2% !important;
}
.banner1{
  min-height: 80vh;
  width:100vw;
  padding-top:30px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dark{
  background-color: #f1f3f4;
}
.hov{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
  margin:auto;
  min-width:34rem;
  padding:10px 10px;
}
ul>li{
  list-style: none;
}
.er{
  width:100%;
  margin-top:10px;
  padding-left: 2px;

}
.fl{
  margin:0 auto;
  flex:1 1 50%;
}
@media(min-width:1100px){
  nav{
    padding: 10px 40px 10px 5% !important;
  }
}
@media(max-width:991px){
  #navbarSupportedContent{
    padding-left:5%;
  }
}